/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

header {
  background-color: #ffce00;
  background-image: linear-gradient(to right, #fe4880, #ffce00);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

header .subreddit_input {
  display: inline-block;
  color: #f3f3f3;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

header:before {
  content: "/r/";
  display: inline-block;
  color: #f3f3f3;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

.articles article {
  padding: 30px 15px;
  background-color: #fff;
  color: #212121;
}

.articles article a {
  text-decoration: none;
}

.articles article h3 {
  color: #212121;
}

.articles article:nth-child(2n) {
  background-color: #f3f3f3;
}

.articles article:hover {
  background-image: linear-gradient(to left, #fe4880, #ffce00);
}

.articles article:hover h3 {
  color: #fff;
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

header {
  background-color: #0099ff;
  background-image: linear-gradient(to right, #48acfe);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

header .subreddit_input {
  display: flex;
  color: #161111;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
  background: content-box radial-gradient(skyblue);
  background-size: cover;
  border: solid;
  outline: none;

  appearance: auto;
}

header:before {
  content: "Reddit/r/";
  display: inline-block;
  color: #f30c0c;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  text-transform: lowercase;
  text-align: center;
}

.articles article {
  padding: 30px 15px;
  background-color: #fff;
  color: #212121;
}

.articles article a {
  text-decoration: none;
}

.articles article h3 {
  color: #212121;
}

.articles article:nth-child(2n) {
  background-color: #f3f3f3;
}

.articles article:hover {
  background-image: linear-gradient(to left, #5fb60e, #e9bb04);
}

.articles article:hover h3 {
  color: #fff;
}
